// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body, a{
    background-color:  purple;
    color: white;

    text-align: center;
}

div#videogames{
    table{
        text-align: center;
    }
}
.btn{
    margin: 5px 15px;
}

div#login-manager{
    button {
        margin: 8px;
    }
    
}
